@use "../global/breakpoints";

.main-logo {
  width: 100%;
  grid-column: 1/3;

  @media (min-width: breakpoints.$tablet-width) {
    grid-column: 1/1;
  }
}
.main-logo__img {
  display: block;
  margin: 0 auto;
}
