.options__inner-wrapper {
  position: relative;
  overflow: hidden;
  width: 280px;
  padding-bottom: 40px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.options__slider-tape {
  position: relative;
  padding-top: 50px;
  margin: 0 auto;
  left: 0;
  transition: all ease 1s;
  display: flex;
  width: 840px;

  @media (min-width: $tablet-width) {
    justify-content: space-around;
    width: 100%;
    padding-top: 108px;
  }
}

.options__card {
  text-align: center;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 210px;
  }
}

.options__title {
  @extend %fontSansBold;
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 0px;

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.options__subtitle {
  @extend %fontMulish;
  font-size: 12px;
  line-height: 20px;
  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
