@use "../global/breakpoints";

.page-content {
  padding-top: 70px;
  width: 100%;

  @media (min-width: breakpoints.$tablet-width) {
    padding-top: 50px;
  }

  @media (min-width: breakpoints.$desktop-width) {
  }
}