.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease;
}

.popup__window {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__inner {
  position: relative;
}

.popup__content-wrapper {
  background-color: #fff;
  width: 372px;
  padding: 20px;
}

.popup__close-btn {
  position: absolute;
  top: -40px;
  right: 0;
  border: none;
  border-radius: 4px 4px 0 0;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 113, 67);
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.popup__content {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  justify-items: center;
  border: 1px dashed #000;
  padding: 30px 10px;
}

.popup__title {
  font-size: 20px;
  line-height: 36px;
  padding-bottom: 15px;
}

.popup__input {
  margin-bottom: 15px;
  width: 191px;
  height: 42px;
  padding: 15px;
  font-size: 15px;
  line-height: 22px;
  background-color: #f4f4f4;
  border: none;
  border-radius: 4px;

  &:focus {
    outline-color:  rgb(255, 113, 67);
    background-color: transparent;
  }
}

.open {
  opacity: 1;
  visibility: visible;
}