.prices__inner-wrapper {
  position: relative;
  width: 280px;
  overflow: hidden;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}


.prices__slider-tape {
  position: relative;
  display: flex;
  align-items: center;
  padding: 60px 0;
  width: 840px;
  left: -245px;
  transition: all ease 1s;

  @media (min-width: $tablet-width) {
    left: 0;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    max-width: 768px;
    margin: 0 auto;
  }
}