@use "../global/breakpoints";

.tagline-slider {
  @media (min-width: breakpoints.$tablet-width) {
    grid-column: 1/3;
    width: 100%;
  }
}

.tagline-slider__inner-wrapper {
  position: relative;
  width: 280px;
  overflow: hidden;
  margin: 0 auto;
  @media (min-width: breakpoints.$tablet-width) {
    width: 100%;
  }
}

.tagline-slider__slider-tape {
  position: relative;
  width: 840px;
  left: 0;
  margin: 0 auto;
  padding: 55px 0;
  display: flex;
  transition: all ease 1s;

  @media (min-width: breakpoints.$tablet-width) {
    width: 100%;
  }

  @media (min-width: breakpoints.$desktop-width) {
    justify-content: space-between;
    padding: 105px 0;
  }
}

.tagline-slider__card {
  width: 140px;
  height: 48px;

  @media (min-width: breakpoints.$tablet-width) {
    width: 150px;
  }
}

.tagline-slider__icon {
  display: block;
  margin: 0 auto;
}
