%fontSansNormal {
  font-family: 'DM Sans', sans-serif;
  font-weight: normal;
}

%fontSansBold {
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
}

%fontMulish {
  font-family: 'Mulish', sans-serif;
  font-weight: normal;
}