@import "global/fonts.scss";
@import "global/breakpoints.scss";
@import "global/global.scss";

@import "blocks/page.scss";
@import "blocks/page-header.scss";
@import "blocks/main-logo.scss";
@import "blocks/main-nav.scss";
@import "blocks/button.scss";
@import "blocks/nav-list.scss";
@import "blocks/tagline.scss";
@import "blocks/tagline-slider.scss";
@import "blocks/slider.scss";
@import "blocks/page-content.scss";
@import "blocks/advantages.scss";
@import "blocks/options.scss";
@import "blocks/footer.scss";
@import "blocks/product-plan.scss";
@import "blocks/prices.scss";
@import "blocks/price-card.scss";
@import "blocks/popup.scss";
@import "blocks/footer-copyright.scss";

