doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Logoipsum
    link(rel="icon",type="image/png" sizes="32x32" href="img/favicon-32x32.png")
    link(rel="icon",type="image/png" sizes="16x16" href="img/favicon-32x32.png")
    link(rel='stylesheet', href='css/style.min.css')
  body.page
    .page__wrapper
      header.page-header
        h1.visually-hidden Logoipsum
        .main-logo
          a( href='index.html')
            img.main-logo__img(src='img/logo.svg', alt='Логотип компании', width='199', height='39')

      main.page-content
       .advantages
          .advantages__box
            .advantages__image-wrapper
              img(class='advantages__img', src='img/image02.png', alt='illustration for the "Subscription Index" block', width='180', height='274')
            .advantages__description
              p.advantages__subtitle Our website is under construction
