.popup(id="popup-success")
  .popup__window
   .popup__inner
    button.popup__close-btn(type='button') &#215;

    .popup__form.popup__content-wrapper
      .popup__content
        p.popup__title Ok.